.advantages {
  font-family: "Oswald", sans-serif;
  background-color: #ffffff;
}

.advantages__title {
  font-size: 36px;
  line-height: 40px;
  font-weight: inherit;
}

.advantages__list {
  list-style-type: none;
}

.advantages__description {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
}
