.card-more {
  font-family: "Oswald", sans-serif;
  background-color: #ffffff;
}

.card-more__title {
  font-weight: inherit;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #111111;
}

.card-more__text {
  font-family: "Lato", sans-serif;
  font-size: 12px;
  line-height: 16px;
  color: #444444;
}
