.catalog {
  font-family: "Oswald", sans-serif;
  background-color: #ffffff;
}

.catalog__title {
  font-size: 36px;
  line-height: 36px;
  font-weight: inherit;
}

.catalog__list {
  list-style-type: none;
}
