.menu {
  font-family: $font-secondary;
  text-transform: uppercase;
  list-style-type: none;
  text-align: center;
}

.menu__item {
  border-top: 1px solid $color-accent-2;
}

.menu__link {
  font-size: 20px;
  line-height: 1;
  color: $text-color-accent;
  text-decoration: none;
  padding-top: 22px;
  padding-bottom: 24px;
  display: block;
}

@media (min-width: $desktop-width) {
  .menu__link--accent {
    color: $color-contrast-text;
  }
}
